version: '3.8'

services:
  pos-handler:
    image: 192.168.9.20:8500/go-runtime:alpine 
    container_name: pos-handler
    working_dir: /app
    
    # 启动命令：运行挂载进来的二进制文件
    command: ["./postgres-handler"]

    # 挂载宿主机文件和目录
    volumes:
      - ./postgres-handler:/app/postgres-handler:ro          # 可执行文件（只读）

    # 环境变量（可从 .env 文件加载，也可在这里覆盖）
    environment:
      - TZ=Asia/Shanghai
      - PORT=8080

    # 端口映射
    ports:
      - "58005:8080"

    # # 健康检查
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:$${PORT:-8080}/health"]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 5s
    #   retries: 3
